<div class="container-fluid header-banner mb-5">
    <div class="container py-5 text-center">
        <div class="row g-5 align-items-center">
            <div class="col-md-12">
                <h4 class="mb-3 text-secondary">Soutenez un mode de vie durable</h4>
                <h1 class="mb-5 display-3 text-primary fw-bold">Produits Écologiques & Durables</h1>
                <p>Découvrez notre gamme de produits écologiques respectueux de l'environnement et conçus pour un avenir durable. Votre bien-être et la préservation de la planète sont nos priorités !</p>
                <a href="#" class="btn btn-lg btn-outline-primary">Découvrez Nos Produits</a>
            </div>
        </div>
    </div>
</div>
